<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="map"
      xsi:schemaLocation=""
      autoReload="true">
    <variable name="logFormat" value="${level:uppercase=true}:${longdate}:${callsite}:${message}"/>
    <variable name="ArchiveDays" value="30"/>
    <variable name="ArchiveMaxSize" value="1000000"/>

    <!-- the targets to write to -->
    <targets>
        <target name="file" xsi:type="File"
                fileName="${gdc:item=logDirectory}ToledoScan_${shortdate}.log"
                archiveFileName="${gdc:item=logDirectory}Archive/${mappingQueuePrefix}_${date:yyyyMMdd}_{#####}.zip"
                archiveEvery="Day" maxArchiveFiles="${ArchiveDays}" ArchiveOldFileOnStartup="true"
                EnableArchiveFileCompression="true"
                layout="${logFormat}"/>
        <target xsi:type="ColoredConsole"
                name="console"
                layout="${logFormat}"
                useDefaultRowHighlightingRules="false"
                detectConsoleAvailable="false">
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Fatal" foregroundColor="DarkRed"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="DarkRed"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="DarkGreen"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>
        </target>
        <target xsi:type="Database"
                name="database"
                dbProvider="System.Data.SqlClient"
                commandText="insert into dbo.NLog
            (Application, LogDateTime, Level, CallSite, Message, InnerException, Exception) 
            values 
            (@application, @logged, @level, @callsite, @message, @innerException, @exception);">

            <parameter name="@application" layout="${logger}" />
            <parameter name="@logged" layout="${date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />

            <parameter name="@callSite" layout="${callsite:filename=true}" />
            <parameter name="@innerException" layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
            <parameter name="@exception" layout="${exception:tostring}" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="console, file" />
    </rules>
</nlog>